body {
  margin: 0;
  color: rgb(252, 247, 247);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(https://st2.depositphotos.com/3474539/5916/v/600/depositphotos_59169349-stock-illustration-seamless-vector-square-camouflage-pattern.jpg); */
  background-color: rgb(118, 116, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
